# Telegram Bot Token
BOT_TOKEN=8898632185:AAEjeyDm6luvEt4jnmgQYJKCWKBCvNBBmlA
BOT_USERNAME=

# Admins (ID через запятую)
ADMIN_IDS=123456789
ADMIN_PASSWORD=admin123
SUPPORT_USERNAME=Maraboy3

# Тарифы (в рублях)
PRICE_STANDARD_1_MONTH=149
PRICE_STANDARD_3_MONTHS=399
PRICE_STANDARD_6_MONTHS=749
PRICE_STANDARD_12_MONTHS=1399

# Настройки подписки
TRIAL_DAYS=3
REFERRAL_BONUS_RUB=10
REFERRAL_PERCENT=0

# Панель 3x-ui (заполняется позже)
XUI_URL=
XUI_USERNAME=
XUI_PASSWORD=
XUI_API_TOKEN=
XUI_HOST=
XUI_PORT=443
XUI_INBOUND_ID=1
